/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}
body{
    background-color: #E5E5E5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.player-heading {
    color: #562EFF;
    font-size: 20px;
    margin-top: 3px;
}
.top-players{
    margin-bottom: 30px;
}
/* top players style */
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    
}
.player-name{
    margin-left: 18px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top block style */
.blog .thubnail img{
    width: 177px;
    height: 117px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:26px ;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    color: black;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* Course section */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    
}
.course img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
     color: #FF4A60;
    background: #FFE4E8;
    border-radius: 14.6913px;
}
/* media-queries */
/* for mobile */
@media only screen and (max-width:688px)  {
    .container{
        width: 100%;
    }
    .player{
        flex-direction: column;
    }
     .top-players  {
        grid-template-columns: repeat(1, 1fr);
    } 
    
}